* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
header{
    text-align: center;
    padding: 50px;
}

section {
    width: 500px;
    height: 300px;
    background-image: linear-gradient(90deg, #9472fc2f 0%, #0533231c 50.52%);
    text-align: center;
    margin: 20px auto; /* Adicionado para centralizar horizontalmente */
    border-radius: 10px;
    
}
header img{
text-align: center;
border-radius: 50%;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.623);
transition: transform 0.3s ease-in-out;
}
section.jogos img {
border-radius: 20px;
transform: scale(1.0);   
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.623);
transition: transform 0.3s ease; 
}
section.jogos img:hover {
    transform: scale(1.2); 
}
header img:hover {
    transform: scale(1.2); /* Aplica um zoom de 120% ao passar o mouse */
}

h1{
    color: rgba(255, 255, 255, 0.705);
}
a{
    text-decoration: none;
}
section.canais img{
    border-radius: 50%;
    transform: scale(1.2);
    padding: 10px;
    transition: transform 0.3s ease; 

}
section.canais img:hover {
    transform: scale(1.4); /* Aplica um zoom de 120% ao passar o mouse */
}





